@using StudentsClubsWeb.Utilities
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    var user = UserManager.GetUserAsync(User).GetAwaiter().GetResult() as AppUser;
}

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="~/page/nav/nav.css" />


<style>
    .customNav {
        position: fixed;
        z-index: 999;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
    }
</style>
<div class="customNav">
    <div class="navigation ">
        <ul>
            <li class="list @(TempData[SD.NavActive.Profile])">
                @if (SignInManager.IsSignedIn(User))
                {
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" >
                        <span class="icon">
                            <i class="bi bi-person-gear"></i>
                        </span>
                        <span class="text">الحساب</span>
                    </a>
                }
                else
                {
                    
                    <a asp-area="Identity" asp-page="/Account/Register">
                        <span class="icon">
                            <i class="bi bi-person-add"></i>
                        </span>
                        <span class="text">التسجيل</span>
                    </a>
                }
            </li>
            <li class="list @(TempData[SD.NavActive.Clubs])">
                <a asp-area="Student" asp-controller="Club" asp-action="Index">
                    <span class="icon">
                        <i class="bi bi-search"></i>
                    </span>
                    <span class="text">الأندية</span>
                </a>
            </li>

            <li class="list @(TempData[SD.NavActive.Home])">
                <a asp-area="Student" asp-controller="Home" asp-action="Index">
                    <span class="icon">
                        <i class="bi bi-house"></i>
                    </span>
                    <span class="text">الرئيسية</span>
                </a>
            </li>
            <li class="list @(TempData[SD.NavActive.MyClubs])">
                <a asp-area="Student" asp-controller="Club" asp-action="MyClubs">
                    <span class="icon">
                        <i class="bi bi-star"></i>
                    </span>
                    <span class="text">أنديتي</span>
                </a>
            </li>
            <li class="list @(TempData[SD.NavActive.NewClub])">
                <a asp-area="Student" asp-controller="Club" asp-action="Create">
                    <span class="icon">
                        <i class="bi bi-plus-lg"></i>
                    </span>
                    <span class="text">انشاء نادي</span>
                </a>
            </li>
            @if (
                    (string?)TempData[SD.NavActive.Profile] == SD.NavActive.Activee ||
                    (string?)TempData[SD.NavActive.Clubs] == SD.NavActive.Activee ||
                    (string?)TempData[SD.NavActive.Home] == SD.NavActive.Activee ||
                    (string?)TempData[SD.NavActive.MyClubs] == SD.NavActive.Activee ||
                    (string?)TempData[SD.NavActive.NewClub] == SD.NavActive.Activee
                )
            {
                <div class="indicator"></div>
            }
        </ul>
    </div>
</div>


    <script>
        const list = document.querySelectorAll(".list");
        function activeLink() {
            list.forEach((item) => item.classList.remove("activee"));
            this.classList.add("activee");
        }
        list.forEach((item) => item.addEventListener("click", activeLink));
    </script>