@model StudentsClubsWeb.Areas.Admin.Models.ClubsIndexVM
<div class="mt-5">
    <h3>
        ادارة النوادي
    </h3>
</div>
<div class="row">
    @foreach (var club in Model.Clubs)
    {
        <div class="col-lg-3 col-md-4 col-6">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">
                    @foreach (var tag in club.Tags.Select(t => t.Title))
                    {
                        <span class="badge bg-secondary">@tag</span>
                    }
                </div>
                <div class="card-body">
                    <h4 class="card-title">@club.Name</h4>
                    <p class="card-text">@club.Description</p>
                </div>
                <div class="btn-group" dir="ltr">
                    <a class="btn btn-danger" asp-area="Admin" asp-controller="Clubs" asp-action="RemoveClub" asp-route-clubId="@club.Id">
                        حذف النادي
                    </a>
                    <a class="btn btn-secondary">
                        عرض/تعديل المعلومات
                    </a>
                </div>
            </div>
        </div>
    }
</div>
<div class="mt-5">
    <h3>
        ادارة العلامات
    </h3>
</div>
<div class="row">
    <table class="table table-hover">
        <tr class="row">
            <th class="col-4">الاسم</th>
            <th class="col-4">المجموعة</th>
            <th class="col-4">خيارات</th>
        </tr>
        @foreach (var tag in Model.Tags)
        {
            <tr class="row">
                <td class="col-4">@tag.Title</td>
                <td class="col-4">@tag.Group</td>
                <td class="col-4">
                    <div class="btn-group" dir="ltr">
                        <a class="btn btn-danger" asp-area="Admin" asp-controller="Clubs" asp-action="RemoveTag" asp-route-tagId="@tag.Id">
                            حذف
                        </a>
                        <a class="btn btn-secondary">
                            عرض/تعديل المعلومات
                        </a>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>
<div class="mt-5">
    <h3>
        ادارة المستخدمين
    </h3>
</div>
<div class="row">
    <table class="table table-hover">
        <tr class="row">
            <th class="col-4">اسم المستخدم</th>
            <th class="col-4">البريد</th>
            <th class="col-4">خيارات</th>
        </tr>
        @foreach (var user in Model.AppUsers)
        {
            <tr class="row">
                <td class="col-4">@user.DisplayUsername</td>
                <td class="col-4">@user.Email</td>
                <td class="col-4">
                    <div class="btn-group" dir="ltr">
                        <a class="btn btn-danger">
                            حظر
                        </a>
                        <a class="btn btn-secondary">
                            عرض/تعديل المعلومات
                        </a>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>