@using StudentsClubsWeb.Utilities
@using System.Security.Claims
@using System.Text.RegularExpressions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ClubPageVM

@{
    ViewData["Title"] = Model.Club.Name;
    var isAdmin = Model.Club.ClubAdmins.Any(cd => cd.AdminId == User.FindFirstValue(ClaimTypes.NameIdentifier));
    var isMember = Model.Club.Members.Any(m => m.Id == User.FindFirstValue(ClaimTypes.NameIdentifier));
}

@* @if (ViewBag.Message != null)
{
    <div class="alert alert-dismissible alert-light">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @ViewBag.Message
    </div>
} *@

@if (TempData.ContainsKey("message"))
{
    <div class="alert alert-dismissible alert-light">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>تنبيه:</strong>
        @TempData["message"]
    </div>
}

<div class="mt-3">

</div>
<div class="row">
    <div class="row">
        <div class="col-8">
            <h2 class="title2 headline-2" style="font-size: 40px;">
                <span class="span">
                    @Model.Club.Name
                </span>
            </h2>
            <span class="small">
                <a class="link hover-2" href="#clubManagersTable">
                    تواصل مع الادارة
                </a>        
            </span>
        </div>
        <div class="col-4 my-auto text-start ps-0">
            @if (isMember || isAdmin)
            {
                <a class="btn w-btn w-btn-primary text-start float-start"
                    asp-area="Student" asp-controller="Post" asp-action="Create" asp-route-clubId="@Model.Club.Id">
                    منشور جديد
                </a>
            }
            else
            {
                <a class="btn w-btn w-btn-primary text-start float-start"
                    asp-area="Student" asp-controller="Club" asp-action="RequestJoinClub" asp-route-clubId="@Model.Club.Id">
                    طلب الانضمام
                </a>
            }
        </div>
    </div>
</div>


@if (Model.Club.Posts.Count > 0)
{

    <!--
      - #FEATURED POST
    -->

<section class="section feature pb-2" aria-label="feature">
    <div class="w-container" id="allPostsDiv">
    <h5 class="headline-3 title2">
        <span class="span">
            المقالات
        </span>
    </h5>
    <ul class="feature-list">
        
        @foreach (var post in Model.Club.Posts)
        {
            <li class="w-lg-25 w-md-50">
                <div class="w-card feature-card">

                <figure class="card-banner img-holder" style="--width: 1602; --height: 903;">
                    @if(!string.IsNullOrEmpty(post.Image)) {
                        <img src="@post.Image" height="903" loading="lazy"
                        class="img-cover">
                    }
                </figure>

                    <div class="card-content">

                        <div class="card-wrapper">
                            <div class="card-tag">
                                @foreach (var tag in post.Tags)
                                {
                                    <a href="#" class="span hover-2">#@tag.Title</a>
                                }
                            </div>

                            <div class="wrapper">
                                <i class="bi bi-clock" aria-hidden="true"></i>

                                <span class="span">@(new Random().Next(1, 10)) دقائق قراءة</span>
                            </div>
                        </div>

                        <h3 class="headline headline-3" style="font-size: 18px;">
                            <a asp-area="Student" asp-controller="Post" asp-action="PostPage" asp-route-id="@post.Id" class="card-title hover-2">
                                @post.Title
                            </a>
                        </h3>
                        <span style="font-size: 14px;">
                            @(post.Summary.Length > 100 ? post.Summary.Substring(0, 100) + "..." : post.Summary)
                        </span>

                        <div class="card-wrapper">

                            <div class="profile-card">

                                <div>
                                    <p class="card-title">@post.Author.DisplayUsername</p>

                                    <p class="card-subtitle">@post.CreatedAt.ToString("yyyy-MM-dd")</p>
                                </div>
                            </div>

                                    <a asp-area="Student" asp-controller="Post" asp-action="PostPage" asp-route-id="@post.Id" class="card-btn">اقرأ المزيد</a>

                        </div>

                    </div>

                </div>
            </li>
        }

    </ul>

    </div>
        <!-- shadow move to home -->
        <!-- <img src="./assets/images/shadow-3.svg" width="500" height="1500" loading="lazy" alt="" class="feature-bg"> -->

    </section>
}

<br>
@if (isAdmin && Model.JoinClubRequests.ToList().Count > 0)
{
    <h5 class="headline-3 title2">
        <span class="span">
            طلبات الانضمام
        </span>
    </h5>
    <div>
        <section class="table">
            <div class="table__body">
                <table>
                    <thead>
                    <tr>
                        <th class="text-center">اسم العرض</th>
                        <th class="text-center">الاسم</th>
                        <th class="text-center">البريد</th>
                        <th class="text-center">الهاتف</th>
                        <th class="text-center">الاجراء</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var request in Model.JoinClubRequests)
                    {
                        <tr class="table-light">
                            <td class="text-center">@(request.User.DisplayUsername)</td>
                            <td class="text-center">@(request.User.FirstName + " " + request.User.LastName)</td>
                            <td class="text-center">@(request.User.Email)</td>
                            <td class="text-center">@(request.User.PhoneNumber)</td>
                            <td class="text-center">
                                <div class="btn-group" dir="ltr">
                                    <a class="btn w-btn w-btn-primary-revert text-start float-start"
                                       asp-area="Admin" asp-controller="ClubAdmin"
                                       asp-action="AcceptJoinClubRequest" asp-route-id="@request.Id"
                                    >
                                        قبول
                                    </a>
                                    <a class="btn w-btn w-btn-primary w-btn-danger text-start float-start"
                                       asp-area="Admin" asp-controller="ClubAdmin"
                                       asp-action="RejectJoinClubRequest" asp-route-id="@request.Id">
                                        رفض
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </section>
    </div>
}

<br/>
<div id="clubManagersTable">
    <h5 class="headline-3 title2">
        <span class="span">
            الادارة
        </span>
    </h5>
    <div>
        <section class="table">
            <div class="table__body">
                <table>
                    <thead>
                    <tr>
                        <th style="text-align: center">الاسم</th>
                        <th style="text-align: center">اسم العرض</th>
                        <th style="text-align: center">البريد</th>
                        <th style="text-align: center">رقم الهاتف</th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var admin in Model.Club.ClubAdmins.Select(cd => cd.Admin))
                        {
                            <tr>
                                <td style="text-align: center">@($"{admin.FirstName} {admin.LastName}")</td>
                                <td style="text-align: center">@admin.DisplayUsername</td>
                                <td style="text-align: center">@admin.Email</td>
                                <td style="text-align: center" dir="ltr">@admin.PhoneNumber</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
<br>
<h5 class="headline-3 title2">
    <span class="span">
        الاعضاء
    </span>
</h5>
<div>
    <section class="table">
        <div class="table__body">
            <table>
                <thead>
                <tr>
                    <th style="text-align: center">اسم العرض</th>
                    <th style="text-align: center">البريد</th>
                    @if (isAdmin)
                    {
                        <th style="text-align: center">رقم الهاتف</th>
                        <th style="text-align: center">الاجراء</th>
                    }
                </tr>
                </thead>
                <tbody>
                @foreach (var member in Model.Club.Members)
                {
                    <tr class="table-light">
                        <td style="text-align: center;">@(member.DisplayUsername)</td>
                        <td style="text-align: center;">@(member.Email)</td>
                        @if (isAdmin)
                        {
                            <td style="text-align: center;">
                                @member.PhoneNumber
                            </td>
                            <td>
                                <a class="btn w-btn w-btn-primary w-btn-danger mx-auto" onclick="kickUser('@member.DisplayUsername', '@member.Id');">
                                    طرد
                                </a>
                            </td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </section>
</div>

@section Scripts
{
    <script>
        function kickUser(name, id) {
            var result = confirm(`متأكد تبغا تطرد ${name} من النادي؟`);
            if (result) {
                // The user clicked OK, execute your function here
                window.location.href = `/Admin/ClubAdmin/KickUser/@(Model.Club.Id)/${id}`;
            } else {
                // The user clicked Cancel or closed the dialog, do nothing
            }
        }
    </script>
    <script src="~/js/tour_clubPage.js"></script>
}
