@using StudentsClubsWeb.Utilities
@using System.Security.Claims
@using System.Text.RegularExpressions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ClubPageVM

@{
    ViewData["Title"] = Model.Club.Name;
    var isAdmin = Model.Club.ClubAdmins.Any(cd => cd.AdminId == User.FindFirstValue(ClaimTypes.NameIdentifier));
    var isMember = Model.Club.Members.Any(m => m.Id == User.FindFirstValue(ClaimTypes.NameIdentifier));
}

@* @if (ViewBag.Message != null)
{
    <div class="alert alert-dismissible alert-light">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @ViewBag.Message
    </div>
} *@

@if (TempData.ContainsKey("message"))
{
    <div class="alert alert-dismissible alert-light">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>تنبيه:</strong>
        @TempData["message"]
    </div>
}

<div class="mt-3">

</div>
<div class="row">
    <div class="row">
        <div class="col-8">
            <h2 class="title2 headline-2 aside-title aside-title-lg" style="font-size: 40px;">
                <span class="span">
                    @Model.Club.Name
                </span>
            </h2>
        </div>
        <div class="col-4 my-auto text-start ps-0">
            @if (isMember || isAdmin)
            {
                <a class="btn w-btn w-btn-primary text-start float-start"
                    asp-area="Student" asp-controller="Post" asp-action="Create" asp-route-clubId="@Model.Club.Id">
                    منشور جديد
                </a>
            }
            else
            {
                <a class="btn w-btn w-btn-primary text-start float-start"
                    asp-area="Student" asp-controller="Club" asp-action="RequestJoinClub" asp-route-clubId="@Model.Club.Id">
                    طلب الانضمام
                </a>
            }
        </div>
    </div>
</div>


@if (Model.Club.Posts.Count > 0)
{
<h5 class="headline-3 title2">
    <span class="span">
        المنشورات
    </span>
</h5>

    <div class="row">
        @foreach (var post in Model.Club.Posts)
        {
            <div class="col-lg-6">
                <div class="w-card aside-card my-3">
                    <div class="card-header mb-3">
                        @foreach (var tag in post.Tags.Select(t => t.Title))
                        {
                            <span class="badge card-badge">
                                @tag
                            </span>
                        }
                    </div>
                    <div class="card-body pb-1">
                        <h3 class="headline headline-3 card-title">
                            <div class="club-info" style="display: flex; align-items: center;">
                                <img class="me-0 ms-3" src="@post.Image" width="100" height="100" loading="lazy" style="margin-right: 10px;">
                                <a class="link hover-2" asp-area="Student" asp-controller="Post" asp-action="PostPage" asp-route-id="@post.Id">
                                    <span>@post.Title</span>
                                </a>
                            </div>
                        </h3>
                        <h6 class="card-title">
                            @(post.Summary.Length > 100 ? post.Summary.Substring(0, 100) + "..." : post.Summary)
                        </h6>
                    </div>
                </div>
            </div>
        }
    </div>
}

      <!-- 
        - #FEATURED POST
      -->

      <section class="section feature" aria-label="feature">
        <div class="w-container">
          <ul class="feature-list">   

            <li>
              <div class="w-card feature-card">

                <figure class="card-banner img-holder" style="--width: 1602; --height: 903;">
                  <!-- <img src="" height="903" loading="lazy"
                     class="img-cover"> -->
                </figure>

                <div class="card-content">

                  <div class="card-wrapper">
                    <div class="card-tag">
                      <a href="#" class="span hover-2">#tag</a>

                      <a href="#" class="span hover-2">#tag</a>
                    </div>

                    <div class="wrapper">
                      <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                      <span class="span">3 mins read</span>
                    </div>
                  </div>

                  <h3 class="headline headline-3">
                    <a href="#" class="card-title hover-2">
                      Bla Bla
                    </a>
                  </h3>

                  <div class="card-wrapper">

                    <div class="profile-card">
                      <img src="" width="48" height="48" loading="lazy" alt="user"
                        class="profile-banner">

                      <div>
                        <p class="card-title">user</p>

                        <p class="card-subtitle">3 April 2032</p>
                      </div>
                    </div>

                    <a href="#" class="card-btn">Read more</a>

                  </div>

                </div>

              </div>
            </li>
            <li>
              <div class="w-card feature-card">

                <figure class="card-banner img-holder" style="--width: 1602; --height: 903;">
                  <!-- <img src="" height="903" loading="lazy"
                     class="img-cover"> -->
                </figure>

                <div class="card-content">

                  <div class="card-wrapper">
                    <div class="card-tag">
                      <a href="#" class="span hover-2">#tag</a>

                      <a href="#" class="span hover-2">#tag</a>
                    </div>

                    <div class="wrapper">
                      <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                      <span class="span">3 mins read</span>
                    </div>
                  </div>

                  <h3 class="headline headline-3">
                    <a href="#" class="card-title hover-2">
                      Bla Bla
                    </a>
                  </h3>

                  <div class="card-wrapper">

                    <div class="profile-card">
                      <img src="" width="48" height="48" loading="lazy" alt="user"
                        class="profile-banner">

                      <div>
                        <p class="card-title">user</p>

                        <p class="card-subtitle">3 April 2032</p>
                      </div>
                    </div>

                    <a href="#" class="card-btn">Read more</a>

                  </div>

                </div>

              </div>
            </li>
            <li>
              <div class="w-card feature-card">

                <figure class="card-banner img-holder" style="--width: 1602; --height: 903;">
                  <!-- <img src="" height="903" loading="lazy"
                     class="img-cover"> -->
                </figure>

                <div class="card-content">

                  <div class="card-wrapper">
                    <div class="card-tag">
                      <a href="#" class="span hover-2">#tag</a>

                      <a href="#" class="span hover-2">#tag</a>
                    </div>

                    <div class="wrapper">
                      <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                      <span class="span">3 mins read</span>
                    </div>
                  </div>

                  <h3 class="headline headline-3">
                    <a href="#" class="card-title hover-2">
                      Bla Bla
                    </a>
                  </h3>

                  <div class="card-wrapper">

                    <div class="profile-card">
                      <img src="" width="48" height="48" loading="lazy"
                        class="profile-banner">

                      <div>
                        <p class="card-title">user</p>

                        <p class="card-subtitle">3 April 2032</p>
                      </div>
                    </div>

                    <a href="#" class="card-btn">Read more</a>

                  </div>

                </div>

              </div>
            </li>
            <li>
              <div class="w-card feature-card">

                <figure class="card-banner img-holder" style="--width: 1602; --height: 903;">
                  <!-- <img src="" height="903" loading="lazy"
                     class="img-cover"> -->
                </figure>

                <div class="card-content">

                  <div class="card-wrapper">
                    <div class="card-tag">
                      <a href="#" class="span hover-2">#tag</a>

                      <a href="#" class="span hover-2">#tag</a>
                    </div>

                    <div class="wrapper">
                      <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                      <span class="span">3 mins read</span>
                    </div>
                  </div>

                  <h3 class="headline headline-3">
                    <a href="#" class="card-title hover-2">
                      Bla Bla
                    </a>
                  </h3>

                  <div class="card-wrapper">

                    <div class="profile-card">
                      <img src="" width="48" height="48" loading="lazy"
                        class="profile-banner">
                      <div>
                        <p class="card-title">user</p>

                        <p class="card-subtitle">3 April 2032</p>
                      </div>
                    </div>

                    <a href="#" class="card-btn">Read more</a>

                  </div>

                </div>

              </div>
            </li>

          </ul>

          <!-- <a href="#" class="btn w-btn">
            <span class="span">Show More Posts</span>

            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
          </a> -->

        </div>
<!-- shadow move to home -->
        <!-- <img src="./assets/images/shadow-3.svg" width="500" height="1500" loading="lazy" alt="" class="feature-bg"> -->

      </section>
<br>
@if (isAdmin && Model.JoinClubRequests.ToList().Count > 0)
{
    <h5 class="headline-3 title2">
        <span class="span">
            طلبات الانضمام
        </span>
    </h5>
    <div dir="rtl">
        <table class="table table-hover">
        <thead>
            <tr class="table-primary">
            <th class="text-end">اسم العرض</th>
            <th class="text-end">الاسم</th>
            <th class="text-end">البريد</th>
            <th class="text-end">الهاتف</th>
            <th class="text-end">الاجراء</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var request in Model.JoinClubRequests)
            {
                <tr class="table-light">
                    <td>@(request.User.DisplayUsername)</td>
                    <td>@(request.User.FirstName + " " + request.User.LastName)</td>
                    <td>@(request.User.Email)</td>
                    <td>@(request.User.PhoneNumber)</td>
                    <td>
                        <div class="btn-group" dir="ltr">
                            <a class="btn w-btn w-btn-primary-revert text-start float-start"
                               asp-area="Admin" asp-controller="ClubAdmin"
                               asp-action="AcceptJoinClubRequest" asp-route-id="@request.Id"
                            >
                                قبول
                            </a>
                            <a class="btn w-btn w-btn-primary text-start float-start"
                               asp-area="Admin" asp-controller="ClubAdmin"
                               asp-action="RejectJoinClubRequest" asp-route-id="@request.Id">
                                رفض
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
        </table>
    </div>
}
<br/>
<h5 class="headline-3 title2">
    <span class="span">
        الادارة
    </span>
</h5>
<div dir="rtl">
    <table class="table table-hover">
    <thead>
        <tr class="table-primary">
        <th class="text-end">الاسم</th>
        <th class="text-end">اسم العرض</th>
        <th class="text-end">البريد</th>
        <th class="text-end">رقم الجوال</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var admin in Model.Club.ClubAdmins.Select(cd => cd.Admin))
        {
            <tr class="table-light">
                <td>@(admin.FirstName + " " + admin.LastName)</td>
                <td>@(admin.DisplayUsername)</td>
                <td>@(admin.Email)</td>
                <td>@(admin.PhoneNumber)</td>
            </tr>
        }
    </tbody>
    </table>
</div>

<section class="table">
        <div class="table__body">
          <table>
            <thead>
              <tr>
                <th style="text-align: center">الاسم</th>
                <th style="text-align: center">اسم العرض</th>
                <th style="text-align: center">البريد</th>
                <th style="text-align: center">رقم الجوال</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="text-align: center"><img src="" alt="" />مم</td>
                <td style="text-align: center">مم#33</td>
                <td style="text-align: center">ws@gmail.com</td>
                <td style="text-align: center">0550550550</td>
              </tr>
              <tr>
                <td style="text-align: center"><img src="" alt="" />مم</td>
                <td style="text-align: center">مم#33</td>
                <td style="text-align: center">ws@gmail.com</td>
                <td style="text-align: center">0550550550</td>
              </tr>
              <tr>
                <td style="text-align: center"><img src="" alt="" />مم</td>
                <td style="text-align: center">مم#33</td>
                <td style="text-align: center">ws@gmail.com</td>
                <td style="text-align: center">0550550550</td>
              </tr>
              <tr>
                <td style="text-align: center"><img src="" alt="" />مم</td>
                <td style="text-align: center">مم#33</td>
                <td style="text-align: center">ws@gmail.com</td>
                <td style="text-align: center">0550550550</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

<br>
<h5 class="headline-3 title2">
    <span class="span">
        الاعضاء
    </span>
</h5>
<div dir="rtl">
    <table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th class="text-end">اسم العرض</th>
            <th class="text-end">البريد</th>
            @if (isAdmin)
            {
                <th class="text-end">الاجراء</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model.Club.Members)
        {
            <tr class="table-light">
                <td>@(member.DisplayUsername)</td>
                <td>@(member.Email)</td>
                @if (isAdmin)
                {
                    <td>
                        <a class="btn w-btn w-btn-primary" onclick="kickUser('@member.DisplayUsername', '@member.Id');">
                            طرد
                        </a>
                    </td>
                }
            </tr>
        }
    </tbody>
    </table>
</div>
@* <div>
    <table class="table table-hover">
        @if (isAdmin)
        {
            <tr>
                <th>اسم المستخدم</th>
                <th>البريد</th>
                <th>خيارات</th>
            </tr>
            @foreach (var request in Model.JoinClubRequests)
            {
                <tr>
                    <td>@request.User.DisplayUsername</td>
                    <td>@request.User.SchoolEmail</td>
                    <td>
                        <div class="btn-group" dir="ltr">
                            <a class="btn btn-danger" asp-area="Admin" asp-controller="ClubAdmin"
                               asp-action="RejectJoinClubRequest" asp-route-id="@request.Id">
                                رفض
                            </a>
                            <a class="btn btn-success" asp-area="Admin" asp-controller="ClubAdmin"
                                asp-action="AcceptJoinClubRequest" asp-route-id="@request.Id">
                                قبول
                            </a>
                        </div>
                    </td>
                </tr>
            }
            @foreach (var user in Model.Club.Members)
            {
                <tr>
                    <td>@user.DisplayUsername</td>
                    <td>@user.SchoolEmail</td>
                    <td>
                        <div class="btn-group" dir="ltr">
                            <a class="btn btn-danger" href="/Admin/ClubAdmin/KickUser/@Model.Club.Id/@user.Id">
                                طرد
                            </a>
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <th>اسم المستخدم</th>
                <th>البريد العام</th>
            </tr>
            @foreach (var user in Model.Club.Members)
            {
                <tr>
                    <td>@user.DisplayUsername</td>
                    <td>@user.SchoolEmail</td>
                </tr>
            }
        }
    </table>
</div> *@

@section Scripts
{
    <script>
        function kickUser(name, id) {
            var result = confirm(`متأكد تبغا تطرد ${name} من النادي؟`);
            if (result) {
                // The user clicked OK, execute your function here
                window.location.href = `/Admin/ClubAdmin/KickUser/@(Model.Club.Id)/${id}`;
            } else {
                // The user clicked Cancel or closed the dialog, do nothing
            }
        }
    </script>
}
