@using StudentsClubsWeb.Utilities
@using System.Security.Claims
@using System.Text.RegularExpressions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ClubPageVM

@{
    ViewData["Title"] = Model.Club.Name;
    var isAdmin = Model.Club.ClubAdmins.Any(cd => cd.AdminId == User.FindFirstValue(ClaimTypes.NameIdentifier));
    var isMember = Model.Club.Members.Any(m => m.Id == User.FindFirstValue(ClaimTypes.NameIdentifier));
}

@* @if (ViewBag.Message != null)
{
    <div class="alert alert-dismissible alert-light">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @ViewBag.Message
    </div>
} *@

<div class="mt-3">

</div>
<div class="row">
    <h2 class="title2 headline-2 aside-title aside-title-lg" style="font-size: 40px;">
        <span class="span">
            @Model.Club.Name
        </span>
    </h2>
    <div class="col text-start">
        <div>
            @if (isAdmin || isMember)
            {
                // display a button to add a new post
                <a class="btn btn-success" asp-area="Student" asp-controller="Post" asp-action="Create" asp-route-clubId="@Model.Club.Id">
                    اضافة منشور
                </a>
            }
            else
            {
                // display a button with "طلب التسجيل"
                <a class="btn w-bt" asp-area="Student" asp-controller="Club" asp-action="RequestJoinClub" asp-route-clubId="@Model.Club.Id">
                    طلب التسجيل
                </a>
            }
        </div>
    </div>
</div>


@if (Model.Club.Posts.Count > 0)
{
<h5 class="headline-3 title2">
    <span class="span">
        المنشورات
    </span>
</h5>

<div dir="rtl">
    <table class="table table-hover">
    <thead>
        <tr class="table-primary">
        <th class="text-end">العنوان</th>
        <th class="text-end">الناشر</th>
        <th class="text-end">تاريخ النشر</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model.Club.Posts)
        {
            <tr class="table-light">
                <td>
                    <a asp-area="Student" asp-controller="Post" asp-action="PostPage" asp-route-id="@post.Id">
                        @post.Title
                    </a>
                </td>
                <td>@post.Author.DisplayUsername</td>
                <td>@post.CreatedAt</td>
            </tr>
        }
    </tbody>
    </table>
</div>
}
<br>
<h5 class="headline-3 title2">
    <span class="span">
        الادارة
    </span>
</h5>
<div dir="rtl">
    <table class="table table-hover">
    <thead>
        <tr class="table-primary">
        <th class="text-end">الاسم</th>
        <th class="text-end">اسم العرض</th>
        <th class="text-end">الايميل</th>
        <th class="text-end">رقم الجوال</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var admin in Model.Club.ClubAdmins.Select(cd => cd.Admin))
        {
            <tr class="table-light">
                <td>@(admin.FirstName + " " + admin.LastName)</td>
                <td>@(admin.DisplayUsername)</td>
                <td>@(admin.Email)</td>
                <td>@(admin.PhoneNumber)</td>
            </tr>
        }
    </tbody>
    </table>
</div>

<br>
<h5 class="headline-3 title2">
    <span class="span">
        الاعضاء
    </span>
</h5>
<div dir="rtl">
    <table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th class="text-end">اسم العرض</th>
            <th class="text-end">الايميل</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model.Club.Members)
        {
            <tr class="table-light">
                <td>@(member.DisplayUsername)</td>
                <td>@(member.Email)</td>
            </tr>
        }
    </tbody>
    </table>
</div>
@* <div>
    <table class="table table-hover">
        @if (isAdmin)
        {
            <tr>
                <th>اسم المستخدم</th>
                <th>البريد</th>
                <th>خيارات</th>
            </tr>
            @foreach (var request in Model.JoinClubRequests)
            {
                <tr>
                    <td>@request.User.DisplayUsername</td>
                    <td>@request.User.SchoolEmail</td>
                    <td>
                        <div class="btn-group" dir="ltr">
                            <a class="btn btn-danger" asp-area="Admin" asp-controller="ClubAdmin"
                               asp-action="RejectJoinClubRequest" asp-route-id="@request.Id">
                                رفض
                            </a>
                            <a class="btn btn-success" asp-area="Admin" asp-controller="ClubAdmin"
                                asp-action="AcceptJoinClubRequest" asp-route-id="@request.Id">
                                قبول
                            </a>
                        </div>
                    </td>
                </tr>
            }
            @foreach (var user in Model.Club.Members)
            {
                <tr>
                    <td>@user.DisplayUsername</td>
                    <td>@user.SchoolEmail</td>
                    <td>
                        <div class="btn-group" dir="ltr">
                            <a class="btn btn-danger" href="/Admin/ClubAdmin/KickUser/@Model.Club.Id/@user.Id">
                                طرد
                            </a>
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <th>اسم المستخدم</th>
                <th>البريد العام</th>
            </tr>
            @foreach (var user in Model.Club.Members)
            {
                <tr>
                    <td>@user.DisplayUsername</td>
                    <td>@user.SchoolEmail</td>
                </tr>
            }
        }
    </table>
</div> *@