@using StudentsClubsWeb.Utilities
@model StudentsClubsWeb.Areas.Student.Models.CreateClubVM
@{
    ViewData["Title"] = "نادي جديد";
    TempData[SD.NavActive.NewClub] = SD.NavActive.Activee;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Form</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap"
          rel="stylesheet" />

    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
          rel="stylesheet" />

    <link rel="stylesheet" href="~/page/account/account.css" />

    <style>
        input {
            text-align: start;
            unicode-bidi: plaintext;
        }

        select.field__input {
            unicode-bidi: plaintext;

            display: block;
            width: 100%;
            font-size: 0.9em;
            padding: 0.8rem 0.5rem;
            font-family: inherit;
            /** for the dropdown indicator */
            appearance: none;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: left 1rem center;
            background-size: 1em;
        }
        select.field__input option {
            background-color: #f5f5f5;
            color: #000;
        }
        select.borderless {
            border: none;
        }
    </style>
</head>

<style>
    /* .form__wrapper::before { */
    /*     content: ""; */
    /*     position: absolute; */
    /*     top: 0; */
    /*     left: 0; */
    /*     width: 100%; */
    /*     height: 100%; */
    /*     background: linear-gradient(90deg, #f5f5f5, #f5f5f5); */
    /*     z-index: -1; */
    /*     border-radius: 10px; */
    /* } */
    /* .form__wrapper::after { */
    /*     content: ""; */
    /*     position: absolute; */
    /*     top: 0; */
    /*     left: 0; */
    /*     width: 100%; */
    /*     height: 100%; */
    /*     background: linear-gradient(90deg, #f5f5f5, #f5f5f5); */
    /*     z-index: -1; */
    /*     border-radius: 10px; */
    /* } */
    .form__wrapper {
        max-width: none;
        width: 100%;
    }
</style>

<body>
    <div class="container">
        <div class="form__wrapper">
            <form class="form w-card aside-card" method="post" asp-area="Student" asp-controller="Club" asp-action="CreatePOST">
                <h1 class="form__title">
                    انشاء نادي جديد
                </h1>
                @* <span class="text-danger">@Html.ValidationSummary()</span> *@
                <div class="form__inputs">
                    <div class="field">
                        <label class="field__label">اسم النادي</label>
                        <div class="field__wrapper w-card aside-card">
                            <span class="field__icon">
                                <ion-icon name="people-outline"></ion-icon>
                            </span>
                            <input class="field__input"
                                   type="text"
                                   placeholder="ادخل اسم النادي"
                                   required
                                   asp-for="Club.Name"
                            />
                        </div>
                    </div>
                    <div class="field">
                        <label class="field__label">علامات النادي (تسهل للمستخدمين العثور على النادي)</label>
                        @* small text to explain how to add tags *@
                        <span class="small">ادخل كل علامة وافصل بينهم باستعمال الشرطة (-)</span>
                        <div class="field__wrapper w-card aside-card">
                            <span class="field__icon">
                                <ion-icon name="pricetags-outline"></ion-icon>
                            </span>
                            <input class="field__input"
                                   type="text"
                                   placeholder="ترفيهي - علمي - برمجي"
                                   required
                                   asp-for="Tags"
                                   id="tagInput" 
                                   />
                            <select id="tagSelect" class="field__input" onchange="appendTagToInput(this);">
                                <option disabled selected>العلامات المشهورة</option>
                                @{
                                    foreach (var tag in Model.TagsList.DistinctBy(t => t.Title).Where(t => t.Group == SD.TagGroup.Club))
                                    {
                                        <option>@tag.Title</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="field">
                        <label class="field__label">المدينة</label>
                        <span class="small">إذا لم تجد المدينة التي تبحث عنها في قائمة المدن المسجلة، يمكنك إضافتها هنا.</span>
                        <div class="field__wrapper w-card aside-card">
                            <span class="field__icon">
                                <ion-icon name="location-outline"></ion-icon>
                            </span>
                            <input class="field__input"
                                   type="text"
                                   placeholder="ادخل المدينة"
                                   required
                                   asp-for="City"
                                   id="cityInput" 
                            />
                            <select class="field__input" onchange="setCityInput(this);">
                                <option disabled selected>المدن المسجلة</option>
                                @{
                                    foreach (var city in Model.Cities.DistinctBy(t => t.Title))
                                    {
                                        <option>@city.Title</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <label class="field__label">الجهة</label>
                        <span class="small">إذا لم تجد الجهة التي تبحث عنها في قائمة الجهات المسجلة، يمكنك إضافتها هنا.</span>
                        <div class="field__wrapper w-card aside-card">
                            <span class="field__icon">
                                <ion-icon name="school-outline"></ion-icon>
                            </span>
                            <input class="field__input"
                                   type="text"
                                   placeholder="ادخل الجهة"
                                   required
                                   asp-for="School"
                                   id="schoolInput" 
                            />
                            <select class="field__input" onchange="setSchoolInput(this);">
                                <option disabled selected>الجهات المسجلة</option>
                                @{
                                    foreach (var school in Model.Schools.DistinctBy(t => t.Title))
                                    {
                                        <option>@school.Title</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <label class="field__label">صورة النادي</label>
                        <span class="small">يمكنك اختيار صورة من جهازك أو ادخال رابط للصورة</span>
                        <div class="field__wrapper w-card aside-card">
                            <span class="field__icon">
                                <ion-icon name="image-outline"></ion-icon>
                            </span>
                            <input asp-for="Club.Image" hidden="" id="realImageInput" />
                            <input class="field__input"
                                   type="file"
                                   accept="image/*"
                                   placeholder="اختر صورة"
                                   id="myImageInput" 
                            />
                            <input class="field__input"
                                   type="url"
                                   placeholder="او ادخل الرابط"
                                   id="myImageUrlInput" 
                            />

                        </div>
                    </div>
                    <div class="field">
                        <div class="form-group" hidden id="imagePreviewDiv">
                            <label class="field__label">
                                معاينة الصورة
                                <a class="w-btn w-btn-primary w-btn-danger d-inline" onclick="removePostImage()">
                                    حذف الصورة
                                </a>
                            </label>
                            <ul class="grid-list">
                                <li>
                                    <div class="recent-post-card">
                                        <figure class="card-banner img-holder"
                                                style="--width: 50; --height: 50">
                                            <img id="imagePreview"
                                                 width="50"
                                                 height="50"
                                                 loading="lazy"
                                                 class="img-cover" />
                                        </figure>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="field">
                        @*             <div class="col-lg-12 col-md-12 mt-3"> *@
                        @*                 <label asp-for="Club.Description" class="form-label">وصف النادي</label> *@
                        @*                 <textarea rows="10" asp-for="Club.Description" class="form-control" style="font-size: 16px;" placeholder="ادخل الوصف"></textarea> *@
                        @*                 <span asp-validation-for="Club.Description" class="text-danger"></span> *@
                        @*             </div> *@
                        <label class="field__label">وصف النادي</label>
                        <span class="small">ادخل وصفًا مختصرًا للنادي لمساعدة المستخدمين على التعرف عليه.</span>
                        <div class="field__wrapper w-card aside-card align-items-start">
                            <span class="field__icon">
                                <ion-icon name="document-text-outline"></ion-icon>
                            </span>
                            <textarea class="field__input border-0"
                                 rows="5"
                                 type="text"
                                 placeholder="ادخل الوصف"
                                 required
                                 asp-for="Club.Description"
                                 id="descriptionInput" 
                            ></textarea>
                        </div>
                    </div>
                    <div class="form__footer">
                        <a class="form__recover-danger">
                                
                        </a>
                        <button type="submit" class="form__btn w-btn" style="color: white;">
                            انشاء
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>

@* <div class="container"> *@
@*     <h2 class="headline-2 section-title title2"> *@
@*         <span class="span"> *@
@*             انشاء نادي جديد *@
@*         </span> *@
@*     </h2> *@
@*     <br> *@
@*     <br> *@
@*     <h6> *@
@*         <span class="span" style="font-size: 16px; font-weight: 500;"> *@
@*             <div class="w-lg-50"> *@
@*                 ادخل اسم النادي وعلاماته واختر الجهة التي ترغب بالانضمام اليها *@
@*             </div> *@
@*         </span> *@
@*     </h6> *@
@*     <br> *@
@*     <br> *@
@*     <form method="post" asp-area="Student" asp-controller="Club" asp-action="CreatePOST"> *@
@*         <div class="row"> *@
@*             <div class="col-lg-4 col-md-12 mt-3"> *@
@*                 <label asp-for="Club.Name" class="form-label">اسم النادي</label> *@
@*                 <input asp-for="Club.Name" type="text" class="form-control" placeholder="ادخل الاسم"> *@
@*                 <span asp-validation-for="Club.Name" class="text-danger"></span> *@
@*                 $1$ <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> #1# *@
@*             </div> *@
@*             <div class="col-lg-4 col-md-6 mt-3"> *@
@*                 <label class="form-label">قائمة العلامات السابقة</label> *@
@*                 <select id="tagSelect" class="form-select" onchange="appendTagToInput(this);"> *@
@*                     <option disabled selected>اختر اي علامة لاضافتها</option> *@
@*                     @{ *@
@*                         foreach (var tag in Model.TagsList.DistinctBy(t => t.Title).Where(t => t.Group == SD.TagGroup.Club)) *@
@*                         { *@
@*                             <option>@tag.Title</option> *@
@*                         } *@
@*                     } *@
@*                 </select> *@
@*             </div> *@
@*             <div class="col-lg-4 col-md-6 mt-3"> *@
@*                 <label asp-for="Tags" class="form-label">ادخل كل علامة وافصل بينهم باستعمال "-"</label> *@
@*                 <input asp-for="Tags" id="tagInput" class="form-control" placeholder="حاسب - ترفيهي - علمي"> *@
@*                 <span asp-validation-for="Tags" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="col-lg-4 col-md-6 mt-3"> *@
@*                 <label asp-for="City" class="form-label">اختر من المدن المسجلة او ادخل مدينة جديدة</label> *@
@*                 <div class="row"> *@
@*                     <div class="col-md-6 mb-2 mb-lg-0 mb-md-0 ps-md-1"> *@
@*                         <select class="form-select" onchange="setCityInput(this);"> *@
@*                             <option selected disabled>اختر المدينة</option> *@
@*                             @foreach (var city in Model.Cities.DistinctBy(t => t.Title)) *@
@*                             { *@
@*                                 <option>@city.Title</option> *@
@*                             } *@
@*                         </select> *@
@*                     </div> *@
@*                     <div class="col-md-6 pe-md-1"> *@
@*                         <input id="cityInput" class="form-control" asp-for="City" placeholder="ادخل المدينة" /> *@
@*                     </div> *@
@*                 </div> *@
@*                 <span asp-validation-for="City" class="text-danger"></span> *@
@*             </div> *@
@* *@
@*             <div class="col-lg-4 col-md-6 mt-3"> *@
@*                 <label asp-for="School" class="form-label">اختر من الجهات المسجلة او ادخل جهة جديدة</label> *@
@*                 <div class="row"> *@
@*                     <div class="col-md-6 mb-2 mb-lg-0 mb-md-0 ps-md-1"> *@
@*                         <select class="form-select" onchange="setSchoolInput(this);"> *@
@*                             <option selected disabled>اختر الجهة</option> *@
@*                             @foreach (var school in Model.Schools.DistinctBy(t => t.Title)) *@
@*                             { *@
@*                                 <option>@school.Title</option> *@
@*                             } *@
@*                         </select> *@
@*                     </div> *@
@*                     <div class="col-md-6 pe-md-1"> *@
@*                         <input id="schoolInput" class="form-control" asp-for="School" placeholder="ادخل الجهة" /> *@
@*                     </div> *@
@*                 </div> *@
@*                 <span asp-validation-for="School" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="col-lg-4 col-md-6 mt-3 form-group"> *@
@*                 <label>صورة النادي</label> *@
@*                 <div class="row"> *@
@*                     <div class="col-6"> *@
@*                         <input id="myImageInput" type="file" /> *@
@*                     </div> *@
@*                     <div class="col-6"> *@
@*                         <input id="myImageUrlInput" dir="rtl" class="form-control" placeholder="او ادخل الرابط" type="url" /> *@
@*                     </div> *@
@*                 </div> *@
@*                 <input asp-for="Club.Image" hidden="" id="realImageInput" /> *@
@*                 <span asp-validation-for="Club.Image" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group" hidden id="imagePreviewDiv"> *@
@*                 <label> *@
@*                     معاينة الصورة *@
@*                     <a class="btn btn-danger" onclick="removePostImage()"> *@
@*                         حذف الصورة *@
@*                     </a> *@
@*                 </label> *@
@*                 <ul class="grid-list"> *@
@*                     <li> *@
@*                         <div class="recent-post-card"> *@
@*                             <figure class="card-banner img-holder" *@
@*                                     style="--width: 50; --height: 50"> *@
@*                                 <img id="imagePreview" *@
@*                                      width="50" *@
@*                                      height="50" *@
@*                                      loading="lazy" *@
@*                                      class="img-cover" /> *@
@*                             </figure> *@
@*                         </div> *@
@*                     </li> *@
@*                 </ul> *@
@*             </div> *@
@*             <div class="col-lg-12 col-md-12 mt-3"> *@
@*                 <label asp-for="Club.Description" class="form-label">وصف النادي</label> *@
@*                 <textarea rows="10" asp-for="Club.Description" class="form-control" style="font-size: 16px;" placeholder="ادخل الوصف"></textarea> *@
@*                 <span asp-validation-for="Club.Description" class="text-danger"></span> *@
@*             </div> *@
@*         </div> *@
@*         <div class="row my-2 mx-0 d-flex flex-row"> *@
@*             <button type="submit" class="w-btn w-btn-primary flex-grow-1" style="width: 100%"> *@
@*                 تسجيل *@
@*             </button> *@
@*         </div> *@
@*     </form> *@
@* </div> *@


        
        
@section Scripts
{
    <script>
        function appendTagToInput(caller) {
            let tagInput = document.getElementById('tagInput');
            tagInput.value += caller.value + " - ";
            caller.selectedIndex = 0;
        }

        function setCityInput(caller) {
            let cityInput = document.getElementById('cityInput');
            cityInput.value = caller.value;
            caller.selectedIndex = 0;
        }

        function setSchoolInput(caller) {
            let schoolInput = document.getElementById('schoolInput');
            schoolInput.value = caller.value;
            caller.selectedIndex = 0;
        }
    </script>
    <script>
        function imageToBase64String(imageFile) {
            return new Promise((resolve, reject) => {
                const reader = new FileReader();
                reader.readAsDataURL(imageFile);
                reader.onload = () => {
                    const base64String = reader.result.split(",")[1];
                    resolve(base64String);
                };
                reader.onerror = (error) => reject(error);
            });
        }

        function updateRealImageInput(value) {
            const realImageInput = document.getElementById("realImageInput");
            const imagePreviewDiv = document.getElementById("imagePreviewDiv");
            imagePreviewDiv.hidden = false;
            realImageInput.value = value;
            updateImagePreview(value);
        }
        function updateImagePreview(value) {
            const imagePreview = document.getElementById("imagePreview");
            imagePreview.src = value;
        }

        function removePostImage() {
            const imagePreviewDiv = document.getElementById("imagePreviewDiv");
            const myImageInput = document.getElementById("myImageInput");
            const myImageUrlInput = document.getElementById("myImageUrlInput");
            myImageInput.value = "";
            myImageUrlInput.value = "";
            updateRealImageInput("");
            imagePreviewDiv.hidden = true;
        }

        $("#myImageInput").on("change", async function () {
            var file = this.files[0];
            const base64String = "data:image/png;base64," + await imageToBase64String(file);
            // Perform action with the file here
            updateRealImageInput(base64String);

            document.getElementById("myImageUrlInput").value = "";
        });

        $("#myImageUrlInput").on("change", async function () {
            updateRealImageInput(this.value);

            document.getElementById("myImageInput").value = "";
        });
    </script>
    <partial name="_ValidationScriptsPartial"/>
}
