@using StudentsClubsWeb.Utilities
@model StudentsClubsWeb.Areas.Student.Models.ClubIndexVM
@*
    <select asp-for="FilterCity" class="form-select">
        <option selected disabled>المدينة</option>
        @foreach (var tag in Model.Tags.Where(t => t.Group == SD.TagGroup.City))
        {
            <option>@tag.Title</option>
        }
    </select>
    <select asp-for="FilterSchool" class="form-select">
        <option selected disabled>الجهة</option>
        @foreach (var tag in Model.Tags.Where(t => t.Group == SD.TagGroup.School))
        {
            <option>@tag.Title</option>
        }
    </select>
    <select asp-for="FilterTag" class="form-select">
        <option selected disabled>النوع</option>
        @foreach (var tag in Model.Tags.Where(t => t.Group == SD.TagGroup.Club))
        {
            <option>@tag.Title</option>
        }
    </select>
*@
@{
    ViewData["Title"] = "الاندية";
    TempData[SD.NavActive.Clubs] = SD.NavActive.Activee;
}
<h2 class=" headline-2 section-title title2">
    <span class="span">
        تصفح الأندية
    </span>
</h2>
<br>
@* class="w-card aside-card" *@
<div class="">
    <form method="get" asp-area="Student" asp-controller="Club" asp-action="ApplyFilter">
        <div class="mt-3">
            <div class="row input-group My-input">
                <div class="my-2">
                    <select asp-for="FilterCity" class="form-select w-lg-50 mx-auto">
                        <option selected disabled>المدينة</option>
                        @foreach (var tag in Model.Tags.Where(t => t.Group == SD.TagGroup.City).DistinctBy(t => t.Title))
                        {
                            <option>@tag.Title</option>
                        }
                    </select>
                </div>
                <div class="my-2">
                    <select asp-for="FilterSchool" class="form-select w-lg-50 mx-auto">
                        <option selected disabled>الجهة</option>
                        @foreach (var tag in Model.Tags.Where(t => t.Group == SD.TagGroup.School).DistinctBy(t => t.Title))
                        {
                            <option>@tag.Title</option>
                        }
                    </select>
                </div>
                <div class="my-2">
                    <select asp-for="FilterTag" class="form-select w-lg-50 mx-auto">
                        <option selected disabled>النوع</option>
                        @foreach (var tag in Model.Tags.Where(t => t.Group == SD.TagGroup.Club).DistinctBy(t => t.Title))
                        {
                            <option>@tag.Title</option>
                        }
                    </select>
                </div>
                <div class="text-center">
                    <div class="mt-2 mx-auto row btn-group" dir="ltr">
                        <a class="btn w-btn w-btn-primary" asp-area="Student" asp-controller="Club" asp-action="Index">
                            اعادة ضبط
                        </a>
                        <button class="btn w-btn w-btn-primary-revert" type="submit">
                            تطبيق وبحث
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
            </div>


    <!-- <br>
    <hr class="my-3"/> -->
    <br>
    <div>
        <h4>
            قائمة الاندية
        </h4>

    </div>
    <br>

<div class="row">
    @foreach (var club in Model.Clubs.OrderByDescending(c => c.ViewsCount))
    {
        <div class="col-lg-6">
            <div class="w-card aside-card my-3">
                <div class="card-header mb-3">
                    @foreach (var tag in club.Tags.Select(t => t.Title))
                    {
                        <span class="badge bg-secondary">
                            @tag
                        </span>
                    }
                </div>
                <div class="card-body pb-1">
                    <h3 class="headline headline-3 card-title">
                        <div class="club-info" style="display: flex; align-items: center;">
                            <img class="me-0 ms-3" src="@club.Image" width="32" height="32" loading="lazy" style="margin-right: 10px;">
                            <a class="link hover-2" asp-area="Student" asp-controller="Club" asp-action="ClubPage" asp-route-id="@club.Id">
                                <span>@club.Name</span>
                            </a>
                        </div>
                    </h3>
                    <h6 class="card-title">
                        @(club.Description.Length > 100 ? club.Description.Substring(0, 100) + "..." : club.Description)
                    </h6>
                </div>
            </div>
        </div>
    }
</div>