@using StudentsClubsWeb.Utilities
@model StudentsClubsWeb.Areas.Student.Models.ClubIndexVM
@*
    <select asp-for="FilterCity" class="form-select">
        <option selected disabled>المدينة</option>
        @foreach (var tag in Model.Tags.Where(t => t.Group == SD.TagGroup.City))
        {
            <option>@tag.Title</option>
        }
    </select>
    <select asp-for="FilterSchool" class="form-select">
        <option selected disabled>الجهة</option>
        @foreach (var tag in Model.Tags.Where(t => t.Group == SD.TagGroup.School))
        {
            <option>@tag.Title</option>
        }
    </select>
    <select asp-for="FilterTag" class="form-select">
        <option selected disabled>النوع</option>
        @foreach (var tag in Model.Tags.Where(t => t.Group == SD.TagGroup.Club))
        {
            <option>@tag.Title</option>
        }
    </select>
*@
@{
    ViewData["Title"] = "الاندية";
    TempData[SD.NavActive.Clubs] = SD.NavActive.Activee;
}

<style>
    select {
        display: block;
        width: 100%;
        font-size: 0.9em;
        padding: 0.8rem 0.5rem;
        border: 1px solid #333;
        font-family: inherit;
        color: black;
        /** for the dropdown indicator */
        appearance: none;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: left 1rem center;
        background-size: 1em;
    }
</style>

<h2 class="headline-2 section-title title2">
    <span class="span">
        تصفح الأندية وانضم إلى الأندية التي تهمك
    </span>
</h2>
<br>
<br>
<h6>
    <span class="span" style="font-size: 16px; font-weight: 500;">
        <div class="w-lg-50">
            اختر التصنيف والمدينة والجهة التي ترغب بالبحث عنها
        </div>
    </span>
</h6>
@* class="w-card aside-card" *@
<div class="">
    <form method="get" asp-area="Student" asp-controller="Club" asp-action="ApplyFilter">
        <div class="mt-3">
            <div class="row input-group My-input" id="filter-div">
                <div class="my-2">
                    <select id="FilterCity" asp-for="FilterCity" class=" w-lg-50">
                        <option selected disabled>المدينة</option>
                        @foreach (var tag in Model.Tags.Where(t => t.Group == SD.TagGroup.City).DistinctBy(t => t.Title))
                        {
                            <option>@tag.Title</option>
                        }
                    </select>
                </div>
                <div class="my-2">
                    <select asp-for="FilterSchool" class="w-lg-50">
                        <option selected disabled>الجهة</option>
                        @foreach (var tag in Model.Tags.Where(t => t.Group == SD.TagGroup.School).DistinctBy(t => t.Title))
                        {
                            <option>@tag.Title</option>
                        }
                    </select>
                </div>
                <div class="my-2">
                    <select asp-for="FilterTag" class=" w-lg-50">
                        <option selected disabled>التصنيف</option>
                        @foreach (var tag in Model.Tags.Where(t => t.Group == SD.TagGroup.Club).DistinctBy(t => t.Title))
                        {
                            <option>@tag.Title</option>
                        }
                    </select>
                </div>
                @if(Context.Request.Path.ToString().Contains("ApplyFilter")) {
                    <a class="form__recover-danger mt-3 me-5" style="display: flex; align-items: center;" 
                    asp-area="Student" asp-controller="Club" asp-action="Index">
                        <ion-icon class="d-inline-block align-middle me-2" name="close-circle-outline"></ion-icon>
                        &nbsp;
                        اعادة ضبط البحث
                    </a>
                }
                <div hidden class="me-3">
                    <div class="mt-2 row btn-group" dir="ltr">
                        <button class="btn w-btn w-btn-primary-revert" type="submit">
                            تطبيق وبحث
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


    <!-- <br>
    <hr class="my-3"/> -->
    <br>
    <br>

<div class="row">
    @foreach (var club in Model.Clubs.OrderByDescending(c => c.ViewsCount))
    {
        <div class="col-lg-6">
            <div class="w-card aside-card my-3">
                <div class="card-header mb-3">
                    @foreach (var tag in club.Tags.Select(t => t.Title))
                    {
                        <span class="badge card-badge">
                            @tag
                        </span>
                    }
                </div>
                <div class="card-body pb-1">
                    <h3 class="headline headline-3 card-title">
                        <div class="club-info" style="display: flex; align-items: center;">
                            <img class="me-0 ms-3" src="@club.Image" width="32" height="32" loading="lazy" style="margin-right: 10px;">
                            <a class="link hover-2" asp-area="Student" asp-controller="Club" asp-action="ClubPage" asp-route-id="@club.Id">
                                <span>@club.Name</span>
                            </a>
                        </div>
                    </h3>
                    <h6 class="card-title">
                        @(club.Description.Length > 100 ? club.Description.Substring(0, 100) + "..." : club.Description)
                    </h6>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{
    <script>
        function show(caller, selectId){
            var select = document.getElementById(selectId);
            select.click();
            caller.value = select.value;
        }

        const selects = document.getElementsByTagName("select");
        for (let i = 0; i < selects.length; i++) {
            const select = selects[i];
            select.addEventListener("change", function(){
                this.parentElement.parentElement.parentElement.parentElement.submit();
            });
        }
    </script>
    <script src="~/js/tour_clubs.js"></script>
}